<div class="card">
    <div class="card-body">
        <h1 class="card-title mb-4">
            <i class="bi bi-shop-window text-primary"></i> App Mercado
        </h1>
        <h4 class="card-subtitle mb-4 text-body-secondary">Projeto desenvolvido para a vaga de Desenvolvedor PHP.</h4>
        <p class="card-text">
            O sistema possui as funcionalidades:
        <ul>
            <li>Cadastro de tipos de produtos com seus valores percentuais de imposto;</li>
            <li>Cadastro de produtos com valor unitário;</li>
            <li>Cadastro de venda onde são vinculados os produtos e as quantidades.</li>
        </ul>
        A principal função do sistema é calcular o valor total da venda, discriminando os valores de impostos.
        </p>
    </div>
</div>