<div class="d-grid gap-2 d-md-flex mb-4">
    <a class="btn btn-outline-primary" href="/produto">
        <i class="bi bi-chevron-left"></i>
        Voltar
    </a>
</div>

<form name="formProduto" method="POST" class="mb-4">
    <input type="hidden" name="id" value="{ID}" />
    <input type="hidden" name="produto_tipo_id" value="{PRODUTO_TIPO_ID}" />
    <fieldset>
        <legend class="mb-4">Produto</legend>
        <div class="row mb-3">
            <label for="formProdutoNome" class="col-sm-2 col-form-label">Nome</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="nome" id="formProdutoNome" placeholder="Café"
                    value="{NOME}">
            </div>
        </div>
        <div class="row mb-3">
            <label for="formProdutoProdutoTipoNome" class="col-sm-2 col-form-label">Tipo de produto</label>
            <div class="col-sm-10">
                <div class="input-group" id="divProdutoTipoSelecionado" style="display: none;">
                    <input type="text" class="form-control" value="{PRODUTO_TIPO_NOME}" id="formProdutoProdutoTipoNomeSelecionado"
                        aria-label="Remover seleção de tipo de produto" aria-describedby="btRemoverSelecaoProdutoTipo" disabled>
                    <button class="btn btn-outline-secondary" type="button" id="btRemoverSelecaoProdutoTipo">
                        <i class="bi bi-x-lg"></i>
                    </button>
                </div>
                <div class="input-group" id="divPesquisaProdutoTipo">
                    <input type="text" class="form-control" id="formProdutoProdutoTipoNome"
                        placeholder="Pesquisar tipo de produto" aria-label="Pesquisar tipo de produto"
                        aria-describedby="btConsultarProdutoTipo">
                    <button class="btn btn-outline-primary" type="button" id="btConsultarProdutoTipo">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
                <div id="resultadoPesquisaProdutoTipo"></div>
            </div>
        </div>
        <div class="row mb-3">
            <label for="formProdutoValor" class="col-sm-2 col-form-label">Valor</label>
            <div class="col-sm-10">
                <input type="number" min="0" step="any" lang="pt-BR" class="form-control" name="valor"
                    id="formProdutoValor" placeholder="20,00" value="{VALOR}">
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="button" class="btn btn-light" id="btLimparFormulario">Limpar</button>
            <button type="submit" class="btn btn-primary" id="btSalvarProdutoTipo">Salvar</button>
        </div>
    </fieldset>
</form>

{ALERT}

<script src="/src/views/js/produto-cadastro.js"></script>